[Desktop Entry]
Version=2.3
Type=Application
Name=Imaginary Infinity Calculator
Comment=Expandable calculator
Exec=iicalc
Terminal=true
Icon=/usr/share/icons/iicalc.tiff
Categories=Education;Office;Utilities;Math;
Keywords=calculator;math;
